.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 80px;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page-item.disabled .page-link {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .page-item.active .page-link {
    background-color: tomato;
    color: white;
    border: 1px solid tomato;
  }
  